p {
    font-weight: 500;
    font-size: 1.1em;
}

div#ldTop {
    display: block;
    text-align: center;
}


/* #ldTop {
    color: rgb(255, 252, 252)
} */


/* button#back2List {
    float: right;
} */