<div *ngIf="!userLotto">
    <div *ngFor="let game of lottoGames; let i = index">
        <img class="lottoGame" src="assets/pics/{{game.valueName}}.png" (click)="onOffLottoGame(i)" alt="{{game.valueName}}">
    </div>
</div>
<div *ngIf="userLotto">
    <div>
        <img class="lottoGame" src="assets/pics/{{userLotto.game.valueName}}.png" (click)="onOffLottoGame()" alt="{{userLotto.game.valueName}}">
    </div>
    <app-compare-2-history *ngIf="userLotto.userLotteryList" [userLotto]="userLotto"></app-compare-2-history>
</div>